<section class="intro-header">
	<div class="jumbotron">
	  <h1 class="text-center">Hello, world!</h1>
	  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eum molestiae architecto dolorem totam dolore.</p>
	  <section class="row">
	  	<section class="col-md-6 col-md-offset-3">
	  		<div class="input-group input-group-lg">
	  		    <input type="text" class="form-control" placeholder="Ej. EDM, Bateria, Tecno, Maracas">
	  		    <span class="input-group-btn ">
	  		    <button class="btn btn-primary" type="button">Buscar</button>
	  		  </span>
	  		</div><!-- /input-group -->
	  	</section>
	  </section>
	</div>
</section>